*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ffe5ec;
}

button {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ff8fab;
  border-radius: 999px;
}

